body{
    margin: 0;
    padding: 0;
    background-color:hsl(212, 45%, 89%);
}

.main-container{
    background-color: #fff;
    height: 390px;
    width: 260px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
    border-radius: 15px;

}

#barcode{
    width: 240px;
    height: 220px;
    position: absolute;
    top: 9px;
    left: 9px;
    border: 1px solid #fff;
    border-radius: 15px;
    
}

#header{
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    top: 230px;
    text-align: center;
    padding: 3px;
    margin: 15px;
    color: hsl(218, 44%, 22%);
}

#paragraph{
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: absolute;
    top: 290px;
    text-align: center;
    padding: 10px;
    margin: 7px;
    color: hsl(220, 15%, 55%)

}